# Please install PyTorch with CUDA support manually.
# For example, for CUDA 12.1, use the following command:
# pip install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu121

fastapi
uvicorn
python-multipart
pydantic
transformers
easyocr>=1.7.0
opencv-python
pyttsx3
SpeechRecognition
pyaudio
python-dotenv
requests
ultralytics==8.2.53
pytesseract
Pillow
numpy<2.0.0
